
@*  <div>
   
       <ul id="nav">
          <li id="navShow">
            <a href="#">AKCIJE</a>
            <ul>
          		 <li>@Html.ActionLink("Odabir radnog područja", "AdministrativniPodaciPromjena", "Administracija")</li>
            </ul>
          </li>
    </ul>

</div>*@




<div id="menuizbornik">
    <ul id="navigacija">
          <li class="navigacijaShow"><a class="navigacijaShowIkona" href="#"><span>&#9776;</span></a>
            <div>
            <ul class="submenu">
               <li>@Html.ActionLink("Odabir radnog područja", "AdministrativniPodaciPromjena", "Administracija")</li>
            </ul>
            </div>
        </li>
    </ul>
</div>