@*
<div id="menuizbornik">
    <ul id="navigacija">
        <li class="navigacijaShow"><a class="navigacijaShowIkona" href="#"><span>&#9776;</span></a>
            <div>
            <ul class="submenu">
                	<li>@Html.ActionLink("Osoba", "Osoba", "SubjektSvi")</li>
            </ul>
            </div>
        </li>
    </ul>
</div>*@



<div id="menuizbornik">
    <ul id="navigacija">
          <li class="navigacijaShow"><a class="navigacijaShowIkona" href="#"><span>&#9776;</span></a>
            <div>
            <ul class="submenu">
               	<li>@Html.ActionLink("Osoba", "Osoba", "SubjektSvi")</li>
            </ul>
            </div>
        </li>
    </ul>
</div>