
@using InLine.Repository.Data.Helper;

@{

    Layout = "~/Views/Shared/_LayoutFinancijsko.cshtml";
}



<style type="text/css">
 
</style>


 <div class="PrviRed">
          @Html.Partial(ViewList.Izvodi.ViewIzvodiMenu)
 </div>

<table style="width:100%;">
<tbody>
<tr>
<td style="width:100%;">				
<div id="doc-upload">
        @Html.Partial("UploadDatoteka")
        <label id="upload-labela">
        </label>
        <label id="ne-upload-labela">
        </label>
    </div>
		</td>		 
		</tr>
		</tbody>
</table>						




@section JavaScript {

    <script src="@Url.Content("~/Scripts/jquery.jqGrid.addons-4.4.1.js")" type="text/javascript"></script>
  @*   <script src="http://malsup.github.com/jquery.form.js"></script>*@
   
    <script type="text/javascript">

    $(document).ready(function () 
        {


        });


    </script>


  <script type="text/javascript">


        $(document).ready(function () {


        });


</script>



}