/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background-color: #dde7f1;

    font-size: .75em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #205392;
    width:100%;

}

a:link
{
    color: #575757;
    text-decoration: none;
}
a:visited
{
    color: #575757;
}
a:hover
{
    color: #1d60ff;
    text-decoration: underline;
}
a:active
{
    color: #1d60ff;
}

ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

#vijesti
{
    font-family:Segoe UI; color:White; 
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #205392;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */


#page
{
    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height:auto;
}

#header
{
    background-color: #fbfbfb;
    color:White;
    height:40px;
    text-align:center;
    width:100%;
    background: url(../Content/images/header_blue_1x40.png);
    background-repeat:repeat-x;
}


#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px !important;
}



#content
{
    background-color: #fbfbfb;
     background-image:url(/Images/groovepaper.png);
    float:left;
    width:100%;
    height:1000px;
}

.content-inner { padding:10px;}



#footer
{
    background-color: #dde7f1;
    float:left;
    text-align: center;
    font-size: .9em;
    width:100%;
  
}


/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: left;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #FFA347;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"] 
{
    width:100%;
    border: 1px solid #CCC;
    color: #205392;
}

input[type="number"] 
{
    width:100%;
    border: 0px solid #CCC;
    color: #205392;
}

input[type="date"] 
{
    width:100%;
    border: 1px solid #CCC;
    color: #205392;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}


textarea
{
    width:100%;
    border: 1px solid #CCC;
    color: #205392;
}

select
{
     width:100%;
    color: #205392;
}

.text-box[type=text], .text-box[type=number], .text-box[type=date]
 { 
     width:100%;
     border: 1px solid #CCC;
 }
 
 textarea
 { 
     width:100%;
     height: 40px;
     border: 1px solid #CCC;
 }
  

/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table td 
{
  border: solid 1px #e8eef4;
  color: #205392;
}

table th
{
  padding: 2px 4px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;
}


/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    margin-top:60px;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label,
.display-field,
.editor-field
{
    margin: 0.5em 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

#naslov 
{
     font-family:Verdana;
     font-size:1.1em;
     color:#0066cc;
     text-shadow: 11px 12px 2px blue;
     text-transform:uppercase;
}
    
 .komentar
 {
     color:Green;
 }
 
 .crveno
 {
     color:#39C4ED;
 }
     
 
 /*navlist*/
#navcontainer ul
{
    margin: 0;
padding: 0;
list-style-type: none;
font-family: verdana, arial, Helvetica, sans-serif;

}

#navcontainer li { width:auto; border-bottom: 1px solid white; float:left; margin-top: 1px;  margin-bottom: 5px;}

#navcontainer a
{

    padding: 5px 10px;
    width: auto;
    color: #ffffff;
    margin-right: 0px;
    background-color: #779dc2;
    text-decoration: none;
    font-weight: bold;

}

#navcontainer a:hover
{
color: #fff;
text-decoration: none;
background-color: #82b1df;
}

#navcontainer ul ul li { margin: 0 0 0px 0;}

#navcontainer ul ul a
{

padding: 5px 15px 5px 15px;
color: #fff;
text-decoration: none;
background-color: #5a91b8;
}

#navcontainer ul ul a:hover
{
color: #fff;
background-color: #0E419E;
text-decoration: none;
}
 

 #nav ul
 {
    display : none;
    position:absolute;
 }
     
        
#nav li:hover > ul
 {
   display : inline;
   z-index: 1000;
}


#headerslika
{
    height:40px;
    width:70px;
    float:left;
    background-image:url("../Content/design/LogoPlaviWebHeder.png");
    background-repeat: no-repeat;
}

#headerslika:hover 
{
     background-image:url("../Content/design/LogoMagentaWebHeder.png"); 
}


/* Statusi poruka grešaka*/

 .red { color: #FF0000 }
 .green { color: #009933 }
 .blue { color: #0000FF }
 .yellow { color: #e6b91f }
 
 
#headerodjava
{
    margin-top:10px;
    height:20px;
    width:150px;
    float:right;
    font-size: 1.1em;
    
}

#headerodjava a
{
    color: #5073a7;
    text-decoration: none;
    background-color:#c5dbf3;
    padding-left:10px;
   padding-right:10px;
   padding-top:3px;
   padding-bottom:3px;
   border-radius: 4px 4px 4px 4px;
   font-weight: bold;
   font-size: 0.9em;
   margin-right: 20px;
}


#headerodjava a:hover
{
color: #ffffff;
text-decoration: none;
}

/* Form table background */
.form_background 
{
   background-color:#F9F9F9;
}

.form_background td
{
   padding-left:3px;
   padding-right:3px;
   padding-top:2px;
   padding-bottom:2px;
}


.form_class
{
    background-color:#F9F9F9;
}

.ui-dialog .ui-dialog-title 
{ 
  color:#205392;  
}

.btnDropDownSymbol
{
  background: #ffffff url('../Content/images/dropdown_arrow.png') no-repeat 100%;
}

 /*breadCrumpLayout*/
.breadCrumpLayout
{
    color: #365e8d !important;
    text-align: left !important;
	margin: 0;
	margin-top: 5px;
	padding: 0;
	float: left;
	display: block;
	height: 18px;
	overflow: hidden;
	width: 670px;
	padding:5px;
	border:solid 0px #dedede;
	font-weight:bold;

}

.breadCrumpLayout a
 {
   color:#ffffff;
}

.breadCrumpLayout a:hover
 {
   color:#CFDFFA;
}

.breadCrumpLayout ul
{
	margin: 0px;
	padding: 0;
	height: 18px;
	display: block;
	color: blue;
}
.breadCrumpLayout ul li
{
	display: block;
	float: left;
	position: relative;
	height: 18px;
	overflow: hidden;
	line-height: 18px;
	margin: 0px 6px 0px 0;
	padding: 0px 10px 0px 0;
	font-size: .9167em;
	background: url(../Images/Chevron.gif) no-repeat 100% 0;
	
}
.breadCrumpLayout ul li div.chevronOverlay
{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.breadCrumpLayout ul li span
{
	display: block;
	overflow: hidden;
}
.breadCrumpLayout ul li a
{
	display: block;
	position: relative;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	float: left;
}
.breadCrumpLayout ul li.first a
{
	height: 16px !important;
	text-indent:-1000em;
	width:16px;
	padding: 0;
	margin-top: 2px;
	overflow: hidden;
	background:url(../Images/IconHome.gif) no-repeat 0 0;
}
.breadCrumpLayout ul li.first a:hover
{
	background-position: 0 -16px;
}
.breadCrumpLayout ul li.last
{
	background: none;
	margin-right: 0;
	padding-right: 0;

}
.chevronOverlay
{
	display: none;
	background: url(../Images/ChevronOverlay.png) no-repeat 100% 0;
	width: 13px;
	height: 20px;
}

 /*JGrid Temeljnica nije nula*/

.GriTemeljnicaRazlika
{
    background: '#FFE6E6';
    border: '#FFADAD'
}


 /*JGrid Temeljnica nije nula*/
.autocompleteHeader th
{
     font-size: .8em;
     line-height: .9em;
     height: 20px;
     color: #205392;
}

.tblAutocompleteLi
{
     font-size: .8em;
     height: 22px;
}

.tblAutocompleteLi a:hover
{
      border: 0px solid #fad42e;
      background: #d6e2f0;
}


/* scroll Bar na autocomplete result*/

.ui-autocomplete
 { 
     height: 359px;
     overflow-y: scroll !important;
     overflow-x: hide;
}


/* Na chosen  drop downu ako su u dialogu da rezultati budu iznad dialoga*/

/* .ui-dialog .ui-dialog-content 
 { 
     overflow:visible !important;
 } 
 
 .ui-dialog 
 { 
     overflow: inherit !important;  
 }*/
 
   
 .PrviRed 
 { 
    background-color: #fbfbfb;
    color:White;
    height:31px;
    width:100%;
    background: url(../Content/images/header_blue_flip_1x40.png);
    padding-right:0px;
    text-align: right;
    margin-bottom: 0px;
    
 }
 
 /* Gridovi boja fonta selektiranog reda */

/*prva varijanta 
tr.ui-state-highlight.ui-row-ltr td {
        background-color: #7199be;
		color:White;
		font-weight:bold;
}




/*druga varijanta 
.ui-widget-header
{ 
   border: 1px solid #aaaaaa;
   background: #cccccc url(../Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100_GridheaderTamni.png)50% 50% repeat-x !important; 
   color: White !important; 
   font-weight: bold;
}

*/


/* Gumbi na formama */

 .ObrisiClass
 { 
    width: 32px;
    height: 30px;
    background: #F2F2F2 url(../Content/themes/base/images/Obrisi.png) no-repeat center center !important;
 }
 
 .ObrisiClass:hover
 { 
    background-color: #d6ebf0 !important;

 }
 
 .ZatvoriClass
 { 
    width: 32px;
    height: 30px;
    background: #F2F2F2   url(../Content/themes/base/images/Zatvori.png) no-repeat center center  !important;
 }
 
 .ZatvoriClass:hover
 { 
   background-color: #d6e2f0 !important;
 }
 
 .SpremiClass
 { 
    width: 32px;
    height: 30px;
    background: #F2F2F2 url(../Content/themes/base/images/Spremi.png) no-repeat center center  !important;
 }
 
  .SpremiClass:hover
 {    
    background-color: #d6ebf0 !important;
 }
 
  .SpremiDodajClass
 { 
    width: 32px;
    height: 30px;
    background: #F2F2F2 url(../Content/themes/base/images/SpremiDodaj.png) no-repeat center center  !important;
 }
 
  .SpremiDodajClass:hover
 { 
    background-color: #d6ebf0 !important;
 }
 
  .SpremiKopirajClass
 { 
    width: 32px;
    height: 30px;
    background: #F2F2F2 url(../Content/themes/base/images/SpremiKopiraj.png) no-repeat center center  !important;
 }
 
  .SpremiKopirajClass:hover
 { 
   background-color: #d6ebf0 !important;
 }
 
   .UrediClass
 { 
    width: 32px;
    height: 30px;
    background: #F2F2F2 url(../Content/themes/base/images/Uredi.png) no-repeat center center  !important;
 }
 
 
    
 
 
 